//main css page

/* sets the margin of all the element to 10px on all sides*/
{
    margin: 10px;
}

body{
background-color: black;
}

/* Home section  which has the app name and nav bar. The styling is applied by id */

#home {
    background-color:  #483355;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
   }

/* Application name inside the home section. The styling is applied by tag name */

  header {
    font-size: 30px;
    color: rgb(240, 234, 245);
    float: left;
    padding-left: 2cm;
  }

/* Navigation Bar Container*/

  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
/* Navigation Bar Buttons */
  .topmenu {
    color: lightgray;
    background-color:   #483355;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    border-radius: 1mm;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
  }
  
/* Container for all the three conversion calculator sections   */
#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure {
    float:left; 
    justify-self: auto; 
    width:200px
}

img {
    width: 200px;
}

figcaption {
    color:black;
    font-size: 17px;
    text-align: center;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover {
    cursor: pointer;
}

/* The calculator panel */
.b{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

.about{
    border-top-color: green;
}

.generator{
    border-top-color: coral;
}

.user{
    border-top-color: cyan;

}

.report{
    border-top-color: rgb(255, 0, 200);

}

legend {
    font-size: 30px;
    font-weight: bolder;
}

/* Floating icon for the home button */
.iconbutton{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:40px;
    left:0;
    }

.iconbutton img {
    width:30px
}
    
footer {
    background-color:rgb(240, 234, 245);
    margin-top: 20px;
}

/*-----------user -login-------------------*/
.form {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #72582c;
    border-radius: 5px;
    align-items: center;
}
.form h4 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #50c878;
}
.form .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}
.login button{
    margin: 10px 80px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}

.login input {
    background-color: #ffffff2e;
    color: #000;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url(user.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}
.login input:nth-child(2) {
    background-image: url(lock.png);
}
.login input::placeholder {
    font-size: 14px;
    color: #c0b4b4;
}
.login button {
    background-color: #50c878;
    color: #fff;
    font-size: 17px;
    font-family: calibri;
    text-transform: uppercase;
    cursor: pointer;
}